<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="ad.size" content="width={{settings.size.width}},height={{settings.size.height}}">

  <title>{{settings.size.width}}x{{settings.size.height}}</title>

  <link rel="stylesheet" href="{{content.css}}" type="text/css">

  <script type="text/javascript">
    var clickTag = "{{content.clickTag}}";
  </script>
</head>

<body>
<div class="banner border">
  <div class="content fullscreen">
    <div class="bg">
      <img class="bgAsset" src="{{content.bg}}">
      <img class="shadow" src="{{content.shadow}}">
      <img class="whitePath" src="{{content.whitePath}}" inline>
      <img class="violetPath" src="{{content.violetPath}}" inline>
    </div>
    <div class="copy">
      <img class="copy1" src="{{content.copy1}}">
      <img class="copy2" src="{{content.copy2}}">
      <img class="copy3" src="{{content.copy3}}">
    </div>
    <img class="logo" src="{{content.storeLogo}}">
  </div>
  <div class="mainExit fullscreen"></div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"></script>
</body>
</html>
